### Get Current working directory path

In [26]:
import os
basepath = os.getcwd()
print(basepath)

/home/nishant/AI workspace/github/Deep Learning for Structured Data/notebooks

## Path to dataset

In [27]:
path = os.path.abspath(os.path.join(basepath,'..','data'))
print(path)

/home/nishant/AI workspace/github/Deep Learning for Structured Data/data

In [28]:
import pandas as pd
url="https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/d546eaee765268bf2f487608c537c05e22e4b221/iris.csv"

iris_df = pd.read_csv(url)
iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [29]:
iris_df.shape

(150, 5)

In [30]:
rows = iris_df.shape[0]
rows

150

In [31]:
col = iris_df.shape[1]
col

5

In [32]:
iris_df[iris_df['species'] == 'setosa'].shape[0]

50

In [33]:
filename = 'iriscaps.csv'
iris_df = pd.read_csv(os.path.join(path, filename))
iris_df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]